.container-home {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem 7rem;
  margin-bottom: 6rem;
}

.container-home h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.container-home .menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.container-home .menu-item {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 10rem;
  display: flex;
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
  .container-home h3 {
    color: #007bff;
  }

  .container-home p {
    margin-bottom: 0.5rem;
  }

  .container-home .menu-item .addToCard {
    margin-top: auto;
  }

  .container-home .menu-item .menu-item-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .container-home .menu-item button:hover {
    background-color: #3ada40;
  }

