.navbar {
  margin: 0;
  background-color: #1a1a2e;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20rem;
}

.navbar li {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.navbar ul p {
  display: block;
  font-size: 0.7rem;
}

.navbar-item {
  color: #fff;
  text-decoration: none;
  
  transition: color 0.3s ease;
}

.navbar-item:hover {
  color: #e94560;
}

.logo img {
  height: 60px;
}

button {
  background-color: #0f3460;
  border: none;
  color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 1rem;
}

button:hover {
  background-color: #e94560;
}

.cart button{
  background-color: #1a1a2e;
  padding: 5px 10px;
}
.cart button:hover{
  background-color: #40de408b;
}

.cart img {
  width: 1rem;
}

.cart p {
  margin-top: 0.5rem;
}